<section class="header">
  <h1>Aidai Almaz kyzy</h1>
  <div class="header-bottom-row">
    <div class="header-column"></div>
    <div class="header-column">
      <nav>
        <ul>
          <li><a href="#" routerLink="/about">About</a></li>
          <li><a href="#" routerLink="/projects">Projects</a></li>
          <li><a href="#" routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-column">
      <div class="socials">
        <a href="https://www.linkedin.com/in/aidaialmazkyzy/" target="_blank"><fa-icon [icon]="faLinkedIn"></fa-icon></a>
        <a href="https://github.com/Aidai6" target="_blank"><fa-icon [icon]="gitHub"></fa-icon></a>
      </div>
    </div>
  </div>

</section>
