<section class="header">
  <h1>Aidai Almaz kyzy</h1>
  <nav>
    <div class="pseudo-socials">
      hell
    </div>

    <ul class="nav-links">
      <li><a href="#" routerLink="/about">About</a></li>
      <li><a href="#" routerLink="/projects">Projects</a></li>
      <li><a href="#" routerLink="/contact">Contact</a></li>
    </ul>
    <div class="socials">
      <a href="https://www.linkedin.com/in/aidaialmazkyzy/" target="_blank">
        <fa-icon [icon]="faLinkedIn"></fa-icon>
      </a>
      <a href="https://github.com/Aidai6" target="_blank">
        <fa-icon [icon]="gitHub"></fa-icon>
      </a>
    </div>
  </nav>
</section>
