.header {
  /*width: 100%;*/
  padding: 2% 6%;
  margin: 2% 6%;
  color: #000;
}
h1 {
  display: flex;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%
}

.nav-links {
  list-style: none;

}

.nav-links li{
  display: inline-block;
  padding: 0 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
}

.nav-links li a:hover{
  color: grey;
}


.pseudo-socials {
  padding: 0 18px;
  color: transparent;
}

.socials fa-icon {
  padding: 0 10px;
  color: black;
  cursor: pointer;
}

.socials fa-icon:hover {
  color: grey;
}

@media(max-width: 700px) {
  .socials fa-icon {
    display: none;
  }

  .pseudo-socials {
    display: none;
  }

  nav {
    justify-content: center;
  }

  .nav-links li{
    display: block;

  }


}

