<section class="about">
  <div class="row">
    <div class="col-1">
      <p>welcome to the profile of me, aidai almaz kyzy - a self-taught junior front-end | angular developer.
        <br>
        <br>
        i am so happy i got into this fascinating world of tech and programming as i can put into use my problem-solving and organizational skills, creativity and intuition on digital design.  currently, i’m in the journey to master html / css / bootstrap / javascript / typescript / github and angular.
        <br>
        <br>
        my background comes with bachelors of business administration at the american university of central asia and masters of public administration at the university of hawaii at manoa. in my free time, i do long distance running, eat good food, and hang out with my 12 years old brother. very cool kid.
        <br>
        <br>
        let’s keep in touch and work together.
        <br>
        <br>
        send me an email: aalmazkyzy@gmail.com
      </p>
    </div>
    <div class="col-2">
      <img src="assets/images/profile-1.jpg" alt="profile">
    </div>
  </div>
</section>
