h2 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
}

.col-1 {
  flex-basis: 48%;
  padding: 0 2px;
}
.project-title {
  padding-bottom: 10px;
}

.project-title a {
  text-decoration: none;
  color: #000;
  font-weight: normal;
  font-style: italic;

}

img {
  width: 100%;
  float: start;

  position: relative;
}


.row {
  align-items: center;
  margin: 3% 0;
}
