<section class="projects">
  <h2>projects i've built</h2>
  <div class="row">
    <div class="col-1">
      <a href="https://choktalsapat.org" target="_blank"><img src="assets/images/high-school-website.png" alt="high-school-website"></a>
    </div>
    <div class="col-1">
      <h3 class="project-title">
        <a href="https://choktalsapat.org" target="_blank">High-school website</a>
      </h3>
      <p>A single page website for a high-school built using Angular, JavaScript on WebStorm. Multi-language website is
        hosted on Firebase.</p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-1">
      <a href="https://task-manager-6975a.web.app" target="_blank"><img src="assets/images/task-manager.png" alt="task-manager"></a>
    </div>
    <div class="col-1">
      <h3 class="project-title">
        <a href="https://task-manager-6975a.web.app" target="_blank">Task Manager</a>
      </h3>
      <p>A single page website for a high-school built using Angular, JavaScript on WebStorm. Multi-language website is
        hosted on Firebase.</p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-1">
      <a href="https://stopwatch-6b67e.web.app" target="_blank"><img src="assets/images/stop-watch.png" alt="stop-watch"></a>
    </div>
    <div class="col-1">
      <h3 class="project-title">
        <a href="https://stopwatch-6b67e.web.app" target="_blank">Stop Watch</a>
      </h3>
      <p>A single page website for a high-school built using Angular, JavaScript on WebStorm. Multi-language website is
        hosted on Firebase.</p>
    </div>
  </div>
</section>
