<section class="projects">
  <h2>projects i've built</h2>

  <div class="grid-container">
    <div class="grid-item">
      <h3 class="project-title">
        <a href="https://choktalsapat.org" target="_blank">High-school website</a>
      </h3>
      <p>A single page website for a high-school built using Angular, JavaScript on WebStorm. Multi-language website is
        hosted on Firebase.</p>
    </div>
    <div class="grid-item">
      <h3 class="project-title">
        <a href="https://task-manager-6975a.web.app" target="_blank">Task manager</a>
      </h3>
      <p>The project developed on Angular with using Firebase as backend. created on IDE WebStorm and hosted on Firebase.</p>
    </div>
    <div class="grid-item">
      <h3 class="project-title">
        <a href="https://stopwatch-6b67e.web.app" target="_blank">Stopwatch</a>
      </h3>
      <p>Angular stopwatch tracking miliseconds, seconds, and minutes. created on IDE WebStorm and hosted on Firebase.
      </p>
    </div>
  </div>
</section>
